{% extends "layout.html" %}
{% load static %}

{% block contenedor %}
<!--Home - Bienvenida-->


<div class="container home-container">
    <div class="row hom-row">
        <div class="col-12 col-lg-7 d-flex align-items-center justify-content-center p-0 position-relative home-img">
            <img src="{% static 'img/Ascensor frente.jpg' %}" alt="Logo SER-MANT" class="img-fluid w-100 h-100 home-img" id="logo-sermant">
            <div class="position-absolute text-center text-white">
                <span class="sermant-title">SER-MANT</span> <br>
                <span class="ascensores-subtitle">ASCENSORES</span>
            </div>
        </div>
        <div class="col-12 col-lg-5 d-flex align-items-stretch p-0 d-none d-lg-block position-relative home-img">
            <img src="{% static 'img/Edificio.jpg' %}" alt="Edificio" class="img-fluid w-100 h-100 home-img" id="edificio-home">
            <a href="https://wa.me/3512421366" target="_blank" class="position-absolute inf-der">
                <img src="{% static 'img/WhatsApp.webp' %}" alt="WhatsApp" class="home-whatsapp">
            </a>
        </div>
    </div>
</div>
<div id="quienes-somos" class="p-5">
    <hr class="linea-solida">
</div>
<!--Quienes Somos-->
<div id="contenedor-quienes-somos"class="container">
    <div class="row">
        <!--Quienes Somos - Presentación-->
        <div class="col-12 col-lg-6 d-flex p-0 position-relative quienes-somos-container">
            <div class="row">
                <div class="col-12">
                    <h1 class="quienes-somos-titulo">¿Quiénes somos?</h1>
                    <p class="quienes-somos-texto">
                    Con más de 20 años de experiencia, <b>SER-MANT</b> se ha consolidado como una referencia en Córdoba Capital en la instalación, mantenimiento, reparación y modernización de ascensores, montacargas y equipos afines. Nuestro compromiso con la calidad y la seguridad nos ha permitido construir una reputación sólida y de confianza entre nuestros clientes.
                    </p>
                    <p class="quienes-somos-texto">
                    En <b>SER-MANT</b>, nos enorgullece estar a la vanguardia de la tecnología y el diseño, garantizando la máxima eficiencia y seguridad en cada uno de nuestros productos y servicios. Nuestro objetivo es mejorar la calidad de vida de nuestros clientes a través de soluciones de transporte vertical que cumplan con los más altos estándares de la industria.
                    </p>
                </div>
            </div>
        </div>
        <!--Quienes Somos - Carrouselle-->
        <div id="carousel-trabajos-container"class="col-12 col-lg-6 d-flex align-items-center p-0 ">
            <div id="carousel-trabajos" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <h3 class="text-center">Nuestros trabajos</h3>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img src="{% static 'img/Ascensor 1.png' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                    <img src="{% static 'img/ascensor2.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                    <img src="{% static 'img/ascensor3.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-trabajos" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel-trabajos" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                </div>
        </div>
    </div>
</div>

<!--Logos - Carrouselle-->

<div id="logos-div-principal" class="container">
    <div class="row">
        <div class="col-12 p-1">
            <h3>Empresas que confiaron en nosotros</h3>
            <div id="logosCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel p-0" >
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row justify-content-center">
                            <div class="col-md-2">
                                <img src="{% static 'img/Logo1.jpg' %}" class="d-block w-100" alt="Logo 1">
                            </div>
                            <div class="col-md-1">
                                <img src="{% static 'img/Logo2.png' %}" class="d-block w-100" alt="Logo 2">
                            </div>
                            <div class="col-md-2">
                                <img src="{% static 'img/Logo3.png' %}" class="d-block w-100" alt="Logo 3">
                            </div>
                            <div class="col-md-2">
                                <img src="{% static 'img/Logo4.png' %}" class="d-block w-100" alt="Logo 4">
                            </div>
                            <div class="col-md-2">
                                <img src="{% static 'img/Logo5.png' %}" class="d-block w-100" alt="Logo 5">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row justify-content-center">
                            <div class="col-md-2">
                                <img src="{% static 'img/Logo6.png' %}" class="d-block w-100" alt="Logo 6">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#logosCarousel" data-bs-slide="prev">
                <span class="bi bi-arrow-left-circle-fill fs-2 text-primary-emphasis" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#logosCarousel" data-bs-slide="next">
                <span class="bi bi-arrow-right-circle-fill fs-2 text-primary-emphasis" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!--Pantalla contactanos-->
<div id="contactanos"class="p-5">   
    <hr class="linea-solida">
</div>

<div class="container" id="baner-contactanos">
    <img src="{% static 'img/baner.png' %}" class="w-100 h-100" id="img-baner" alt="Baner">
</div>

<div id="contenedor-contactanos" class="container p-5">
    <div class="row">
        <div class="col-12">
            <h1>Contáctanos</h1>
        </div>
        <form id="contactForm" action="" method="post" class="row">
            {% csrf_token %}
            <div class="col-12 col-lg-5">
                <div class="mb-3">
                    <label for="InputNombre" class="form-label">Nombre</label>
                    <input type="text" name="nombre" class="form-control" id="InputNombre" placeholder="Escriba aquí su nombre" {% if form.nombre.value %}value="{{ form.nombre.value }}"{% endif %}>
                    {% if form.nombre.errors %}
                        <div class="error">{{ form.nombre.errors }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="InputApellido" class="form-label">Apellido</label>
                    <input type="text" name="apellido" class="form-control" id="InputApellido" placeholder="Escriba aquí su apellido" {% if form.apellido.value %}value="{{ form.apellido.value }}"{% endif %}>
                    {% if form.apellido.errors %}
                        <div class="error">{{ form.apellido.errors }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="InputEmail" class="form-label">E-mail</label>
                    <input type="email" name="email" class="form-control" id="InputEmail" placeholder="Escriba aquí su E-mail" {% if form.email.value %}value="{{ form.email.value }}"{% endif %}>
                    {% if form.email.errors %}
                        <div class="error">{{ form.email.errors }}</div>
                    {% endif %}
                </div>
                <div class="mb-3 row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="InputCodigoArea" class="form-label">Código de área</label>
                        <input type="tel" name="cod_area" class="form-control" id="InputCodigoArea" placeholder="Ej: 351" {% if form.cod_area.value %}value="{{ form.cod_area.value }}"{% endif %}>
                        {% if form.cod_area.errors %}
                            <div class="error">{{ form.cod_area.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-auto">
                        <label for="InputNumeroTelefono" class="form-label">Número de teléfono</label>
                        <input type="tel" name="telefono" class="form-control" id="InputNumeroTelefono" placeholder="Ej: 5987987" {% if form.telefono.value %}value="{{ form.telefono.value }}"{% endif %}>
                        {% if form.telefono.errors %}
                            <div class="error">{{ form.telefono.errors }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-7 justify-content-center">
                <h3>Detalle</h3>
                <div class="mb-3">
                    <label for="InputDetalle" class="form-label">Por favor ingrese su inquietud</label>
                    <textarea name="mensaje" class="form-control" id="InputDetalle" rows="5">{% if form.mensaje.value %}{{ form.mensaje.value }}{% endif %}</textarea>
                    {% if form.mensaje.errors %}
                        <div class="error">{{ form.mensaje.errors }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="{{ form.captcha.id_for_label }}">Captcha:</label>
                    {{ form.captcha }}
                    {% if form.captcha.errors %}
                        <div class="error">{{ form.captcha.errors }}</div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
