{% extends 'layout.html' %}
{% load static %}

{% block title %}Usuarios{% endblock %}

{% block contenedor %}

<div class="container" id="baner-contactanos">
    <img src="{% static 'img/baner.png' %}" class="w-100 h-100" id="img-baner" alt="Baner">
</div>

<div id="contenedor-usuarios" class="container p-5">
    <div class="row">
        <div class="col-12">
            <h1>Información de Usuario</h1>
        </div>
        
        <div class="col-12">
            {% if messages %} {# <-- Verifica si hay mensajes #}
                {% for message in messages %} {# <-- Itera sobre cada mensaje #}
                    {# La clase 'alert-{{ message.tags }}' se resolverá a 'alert-success' #}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }} {# <-- Muestra el texto del mensaje #}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        
        <form id="contactForm" action="" method="post" class="row"> {% csrf_token %}
            <div class="col-lg-4">
            {{form_user}}
            {{ form_adicional.fecha_nacimiento.label_tag }}
                {{ form_adicional.fecha_nacimiento }}
                {% if form_adicional.fecha_nacimiento.errors %}
                    <div class="text-danger">{{ form_adicional.fecha_nacimiento.errors }}</div>
                {% endif %}
            </div>
            <div class="col-lg-4">
                {{ form_adicional.pais.label_tag }}
                {{ form_adicional.pais }}
                {% if form_adicional.pais.errors %}
                    <div class="text-danger">{{ form_adicional.pais.errors }}</div>
                {% endif %}

                {{ form_adicional.provincia.label_tag }}
                {{ form_adicional.provincia }}
                {% if form_adicional.provincia.errors %}
                    <div class="text-danger">{{ form_adicional.provincia.errors }}</div>
                {% endif %}

                {{ form_adicional.ciudad.label_tag }}
                {{ form_adicional.ciudad }}
                {% if form_adicional.ciudad.errors %}
                    <div class="text-danger">{{ form_adicional.ciudad.errors }}</div>
                {% endif %}

                {{ form_adicional.domicilio.label_tag }}
                {{ form_adicional.domicilio }}
                {% if form_adicional.domicilio.errors %}
                    <div class="text-danger">{{ form_adicional.domicilio.errors }}</div>
                {% endif %}

                {{ form_adicional.codigo_postal.label_tag }}
                {{ form_adicional.codigo_postal }}
                {% if form_adicional.codigo_postal.errors %}
                    <div class="text-danger">{{ form_adicional.codigo_postal.errors }}</div>
                {% endif %}
            </div>
            <div class="col-lg-4">
                {{ form_adicional.telefono.label_tag }}
                {{ form_adicional.telefono }}
                {% if form_adicional.telefono.errors %}
                    <div class="text-danger">{{ form_adicional.telefono.errors }}</div>
                {% endif %}

                {{ form_adicional.celular.label_tag }}
                {{ form_adicional.celular }}
                {% if form_adicional.celular.errors %}
                    <div class="text-danger">{{ form_adicional.celular.errors }}</div>
                {% endif %}

                {{ form_adicional.documento.label_tag }}
                {{ form_adicional.documento }}
                {% if form_adicional.documento.errors %}
                    <div class="text-danger">{{ form_adicional.documento.errors }}</div>
                {% endif %}

                {{ form_adicional.cuit.label_tag }}
                {{ form_adicional.cuit }}
                {% if form_adicional.cuit.errors %}
                    <div class="text-danger">{{ form_adicional.cuit.errors }}</div>
                {% endif %}
                
                {{ form_adicional.imagen.label_tag }}
                {{ form_adicional.imagen }}
                {% if form_adicional.imagen.errors %}
                    <div class="text-danger">{{ form_adicional.imagen.errors }}</div>
                {% endif %}
            </div>
            
            <div class="col-12 text-center">
                <br>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
<!--
<div class="col-lg-4">
    <div class="mb-3">
        <label for="id_username" class="form-label">Username:</label>
        <input type="text" name="username" value="Belen" class="form-control" required id="id_username">
    </div>
    <div class="mb-3">
        <label for="id_email" class="form-label">Email:</label>
        <input type="email" name="email" value="belen@gmail.com" class="form-control" required id="id_email">
    </div>
    <div class="mb-3">
        <label for="id_first_name" class="form-label">Nombre/s:</label>
        <input type="text" name="first_name" class="form-control" required id="id_first_name">
    </div>
    <div class="mb-3">
        <label for="id_last_name" class="form-label">Apellido/s:</label>
        <input type="text" name="last_name" class="form-control" required id="id_last_name">
    </div>
    <div class="mb-3">
        <label for="id_imagen" class="form-label">Imagen:</label>
        <input type="file" name="imagen" class="form-control" accept="image/*" id="id_imagen">
    </div>
    <div class="mb-3">
        <label for="id_fecha_nacimiento" class="form-label">Fecha nacimiento:</label>
        <input type="date" name="fecha_nacimiento" class="form-control" required id="id_fecha_nacimiento">
    </div>
    <div class="mb-3">
        <label for="id_telefono" class="form-label">Telefono:</label>
        <input type="text" name="telefono" class="form-control" required id="id_telefono">
    </div>
    <div class="mb-3">
        <label for="id_celular" class="form-label">Celular:</label>
        <input type="text" name="celular" class="form-control" required id="id_celular">
    </div>
    <div class="mb-3">
        <label for="id_documento" class="form-label">Documento:</label>
        <input type="text" name="documento" class="form-control" required id="id_documento">
    </div>
    <div class="mb-3">
        <label for="id_cuit" class="form-label">Cuit:</label>
        <input type="text" name="cuit" class="form-control" required id="id_cuit">
    </div>
</div>
-->