{% extends "layout.html" %}
{% load static %}

{% block contenedor %}
<!--Página de ventas-->

<div id="productos_container" class="container text-white">
    <div class="container-fluid p-2">
        <div class="row align-items-center">
            <div class="col-12 col-lg-3">
                <h2>PRODUCTOS</h2>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-lg-end"> 
                <form id="search-form" action="" method="get" class="input-group w-100"> 
                                    
                    {{ search }} 
                    
                    <button class="btn btn-outline-secondary" type="submit" id="boton_prod">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <br>
                        <h4>Categorías</h4>
                        {% for categoria in categorias %}
                            <div class="form-check">
                                <input class="form-check-input categoria-checkbox" type="checkbox" value="{{ categoria.id }}" id="categoria{{ categoria.id }}" name="categorias">
                                    {% if categoria.id|stringformat:"s" in selected_category_ids %}checked{% endif %}>                                <label class="form-check-label" for="categoria{{ categoria.id }}">
                                    {{ categoria.nombre }}
                                </label>
                            </div>
                        {% endfor %}
                        <hr>
                        <h4>Precios</h4>
                        <div class="mb-3">
                            <label for="precioDesde" class="form-label">Desde</label>
                            <input type="number" class="form-control" id="precioDesde" name="precioDesde">
                        </div>
                        <div class="mb-3">
                            <label for="precioHasta" class="form-label">Hasta</label>
                            <input type="number" class="form-control" id="precioHasta" name="precioHasta">
                        </div>
                        <button type="button" class="btn btn-primary" id="filtrar">Filtrar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    {% for producto in productos %}
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-img-container"> 
                                    <a href="{% url 'ver_producto' producto.id %}">
                                        <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                                    </a>
                                </div>
                                <div class="card-body text-center card-body-ventas">
                                    <hr>
                                    <h5 class="card-title">{{ producto.producto }}</h5>
                                    <p class="card-text descripcion-producto">{{ producto.descripcion }}</p>
                                    <p class="card-text precios">${{ producto.precio }}</p>
                                    <form action="{% url 'venta_productos' %}" method="post">{% csrf_token %}
                                        <!--input hidden es un campo que no se ve, pero se envia al servidor, en este caso el id del producto-->
                                        <input hidden type="text" name="producto" value="prod_{{ producto.id }}"/>
                                        <div class="input-group mb-3 justify-content-center">
                                            <button class="btn btn-outline-secondary btn-decrement" type="button">-</button>
                                            <input type="number" name="cantidad" class="form-control text-center cantidad-input" value="0" min="0" max="{{ producto.stock }}" style="max-width: 70px;">
                                            <button class="btn btn-outline-secondary btn-increment" type="button">+</button>
                                        </div>
                                        <input type="button" class="float-right btn btn-primary add-to-cart-button" value="Comprar"/>
                                    </form>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    const AUTOCMPLETE_URL = "{% url 'buscar_producto' %}";
</script>
<script src="{% static 'js/tienda.js' %}"></script>
{%endblock %}

