@charset "UTF-8";
/* SCSS Document */
/* line 2, ../../Documents/Diplomatura Django/Proyecto Ser-Mant/ascensores/static_dev/scss/header.scss */
h1, h2, h3, h4, h5, h6 {
  color: #1F3250;
}

/* line 3, ../../Documents/Diplomatura Django/Proyecto Ser-Mant/ascensores/static_dev/scss/header.scss */
h5 {
  color: white;
}

/* line 4, ../../Documents/Diplomatura Django/Proyecto Ser-Mant/ascensores/static_dev/scss/header.scss */
b {
  color: #1F3250;
  /* Color del texto en negrita */
}

/* line 5, ../../Documents/Diplomatura Django/Proyecto Ser-Mant/ascensores/static_dev/scss/header.scss */
p {
  font-size: 1.1em !important;
}

/* line 6, ../../Documents/Diplomatura Django/Proyecto Ser-Mant/ascensores/static_dev/scss/header.scss */
.bg-primary {
  background-color: #1F3250 !important;
}

/* line 7, ../../Documents/Diplomatura Django/Proyecto Ser-Mant/ascensores/static_dev/scss/header.scss */
.textwhite {
  color: #fff;
}

/* line 8, ../../Documents/Diplomatura Django/Proyecto Ser-Mant/ascensores/static_dev/scss/header.scss */
body {
  background-color: #1F3250;
  margin: 0;
}

/* line 9, ../../Documents/Diplomatura Django/Proyecto Ser-Mant/ascensores/static_dev/scss/header.scss */
.sticky-top-con-espacio {
  position: sticky;
  /* sticky para mantener el elemento en la parte superior */
  top: 80px;
  /* Deja un margen superior */
  z-index: 1020;
  /* Asegura que esté por encima de otros elementos */
}

/* line 14, ../../Documents/Diplomatura Django/Proyecto Ser-Mant/ascensores/static_dev/scss/header.scss */
.sermant-title {
  font-size: 5em !important;
  font-weight: bold !important;
  background-color: rgba(31, 50, 80, 0.5);
  /* Fondo azul con 50% de transparencia */
  padding: 0.1em;
  /* Opcional: añade un poco de espacio alrededor del texto */
  border-radius: 0.1em;
  /* Opcional: añade bordes redondeados */
}

/* line 22, ../../Documents/Diplomatura Django/Proyecto Ser-Mant/ascensores/static_dev/scss/header.scss */
.ascensores-subtitle {
  font-size: 1.5em;
}

/* Estilos para pantallas xs (extra pequeñas) */
@media (max-width: 575.98px) {
  /* Bootstrap xs breakpoint */
  /* line 28, ../../Documents/Diplomatura Django/Proyecto Ser-Mant/ascensores/static_dev/scss/header.scss */
  .sermant-title {
    font-size: 2em !important;
    /* Ajusta el tamaño para xs */
  }
  /* line 32, ../../Documents/Diplomatura Django/Proyecto Ser-Mant/ascensores/static_dev/scss/header.scss */
  .ascensores-subtitle {
    font-size: 1em !important;
    /* Ajusta el tamaño para xs */
  }
}

/* line 37, ../../Documents/Diplomatura Django/Proyecto Ser-Mant/ascensores/static_dev/scss/header.scss */
.quienes-somos-container {
  background-color: white;
  /* Color de fondo similar a la imagen */
  padding: 1em;
  /* Añade un padding general para evitar que el texto toque los bordes */
}

/* line 42, ../../Documents/Diplomatura Django/Proyecto Ser-Mant/ascensores/static_dev/scss/header.scss */
.quienes-somos-titulo {
  text-align: center;
  margin-bottom: 20px;
}

/* line 47, ../../Documents/Diplomatura Django/Proyecto Ser-Mant/ascensores/static_dev/scss/header.scss */
.quienes-somos-texto {
  text-align: justify;
  margin-left: 1em;
  margin-right: 1em;
}

/* line 52, ../../Documents/Diplomatura Django/Proyecto Ser-Mant/ascensores/static_dev/scss/header.scss */
.quienes-somos-titulo2 {
  position: relative;
  bottom: 0%;
}

/* line 53, ../../Documents/Diplomatura Django/Proyecto Ser-Mant/ascensores/static_dev/scss/header.scss */
#carousel-trabajos-container {
  background-color: white;
}

/* line 54, ../../Documents/Diplomatura Django/Proyecto Ser-Mant/ascensores/static_dev/scss/header.scss */
#logos-div-principal {
  background-color: white;
}

/* line 56, ../../Documents/Diplomatura Django/Proyecto Ser-Mant/ascensores/static_dev/scss/header.scss */
#logosCarousel {
  border: 0.3em solid black;
  border-radius: 0.5em;
}

/* line 59, ../../Documents/Diplomatura Django/Proyecto Ser-Mant/ascensores/static_dev/scss/header.scss */
#logosCarousel .carousel-item img {
  height: 20vh;
  /* Establece la altura de la imagen al 20% de la altura de la ventana */
  object-fit: contain;
  /* O 'cover' según prefieras */
}

/* line 64, ../../Documents/Diplomatura Django/Proyecto Ser-Mant/ascensores/static_dev/scss/header.scss */
#contenedor-contactanos {
  background-color: white;
}

/* line 65, ../../Documents/Diplomatura Django/Proyecto Ser-Mant/ascensores/static_dev/scss/header.scss */
#Piedepagina {
  background-color: #1F3250;
}

/*# sourceMappingURL=header.css.map */