/* SCSS Document */
h1,h2,h3,h4,h5,h6 {color: $color_azul_web;}
h5{color: white;}
b {color: $color_azul_web; /* Color del texto en negrita */}
p {font-size: 1.1em;}
.bg-primary{background-color:$color_azul_web !important;}
.textwhite{color:#fff;} 
body {background-color: $color_azul_web;margin: 0;}
.sticky-top-con-espacio {
    position: sticky; /* sticky para mantener el elemento en la parte superior */
    top: 80px; /* Deja un margen superior */
    z-index: 1020; /* Asegura que esté por encima de otros elementos */
}
.sermant-title {
    font-size: 5em !important;
    font-weight: bold !important;
    background-color: $color_azul_web_trans; /* Fondo azul con 50% de transparencia */
    padding: 0.1em; /* Opcional: añade un poco de espacio alrededor del texto */
    border-radius: 0.1em; /* Opcional: añade bordes redondeados */
}

.ascensores-subtitle {
    font-size: 1.5em;
}

/* Estilos para pantallas xs (extra pequeñas) */
@media (max-width: 575.98px) { /* Bootstrap xs breakpoint */
    .sermant-title {
        font-size: 2em !important; /* Ajusta el tamaño para xs */
    }

    .ascensores-subtitle {
        font-size: 1em !important; /* Ajusta el tamaño para xs */
    }
}

.quienes-somos-container {
    background-color: white; /* Color de fondo similar a la imagen */
    padding: 1em; /* Añade un padding general para evitar que el texto toque los bordes */
}

.quienes-somos-titulo {
    text-align: center;
    margin-bottom: 20px;
}

.quienes-somos-texto {
    text-align: justify;
    margin-left: 1em;
    margin-right: 1em;
}
.quienes-somos-titulo2{position: relative;bottom: 0%;}
#carousel-trabajos-container{background-color: white;}
#logos-div-principal{background-color: white;
}
#logosCarousel{
    border: .3em solid rgba(0, 0, 0, 1);
    border-radius: 0.5em;}
#logosCarousel .carousel-item img {
    height: 20vh; /* Establece la altura de la imagen al 20% de la altura de la ventana */
    object-fit: contain; /* O 'cover' según prefieras */
  }

#contenedor-contactanos{background-color: white;}
#Piedepagina{background-color: $color_azul_web;}

#productos_container{background-color: white;}

.card-img-container {
    width: 100%; /* El contenedor ocupa todo el ancho de la card */
    height: 25vh; /* Establece una altura fija para el contenedor */
    overflow: hidden; /* Oculta cualquier parte de la imagen que exceda el contenedor */
}

.card-img-top {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: 100%; /* La imagen ocupa toda la altura del contenedor */
    object-fit: contain; /* Ajusta la imagen sin recortar */
}
.precios{
    font-size: 1.5em;
    font-weight: bold;
    color: $color_azul_web;
}

.card-body-ventas {
    height: 25vh;
    overflow: auto; /* Agrega barras de desplazamiento si es necesario */
}
.descripcion-producto {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inf-izq{
    bottom: 10px; right: 10px;
}