{% extends "base.html" %}
{% load i18n %}

{% block content %}
<!--NAV Menú Principal-->

<div class="sticky-top p-0">
    <nav class="navbar navbar-expand-lg bg-primary py-4">
        <div class="container">
            <a class="navbar-brand text-white" href="#">SER-MANT</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active textwhite" aria-current="page" href="{% url 'index' %}#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link textwhite" href="{% url 'index' %}#quienes-somos">Quienes somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link textwhite" href="{% url 'index' %}#contactanos">Contáctanos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle textwhite" href="#" id="productosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Productos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="productosDropdown">
                            <li><a class="dropdown-item" href="{% url 'carga_producto' %}">Carga</a></li>
                            <li><a class="dropdown-item" href="{% url 'venta_productos' %}">Ventas</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="accounts/login">Creá tu cuenta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Ingresá</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Mis compras</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <a href="#" class="nav-link text-white">
                            <i class="bi bi-cart"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!--Código JavaScript para manejar la clase 'active' en los enlaces de navegación-->
<script>
    const navLinks = document.querySelectorAll('.nav-link');

    // Función para quitar la clase 'active' de todos los enlaces
    function removeActiveClass() {
        navLinks.forEach(link => link.classList.remove('active'));
    }

    // Función para marcar el enlace correspondiente como activo
    function setActiveLink() {
        removeActiveClass(); // Quita 'active' de todos antes de marcar el correcto
        navLinks.forEach(link => {
            if (link.getAttribute('href') === window.location.pathname) {
                link.classList.add('active');
            }
        });
    }

    // Llama a setActiveLink() al cargar la página
    setActiveLink();

    navLinks.forEach(link => {
        link.addEventListener('click', () => {
            removeActiveClass(); // Quita 'active' de todos antes de agregar al clicado
            link.classList.add('active');
        });
    });
</script>

{% block contenedor %}
{% endblock %}
{% block contactanos %}
{% endblock %}
{% block tienda %}
{% endblock %}

<footer id="Piedepagina" class="py-1">
    <div class="container text-white">
        <div class="row">
            <div class="col-md-4 text-center">
                <i class="bi bi-telephone-fill fs-3 mb-2"></i>
                <h5>Teléfonos de contacto:</h5>
                <p class="mb-0">(0351) 155-111699</p>
                <p>(0351) 155-302900</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="bi bi-envelope-fill fs-3 mb-2"></i>
                <h5>Correo electrónico:</h5>
                <p class="mb-0">sermant_ascensores@hotmail.com</p>
            </div>
            <div class="col-md-4 text-center">
                <a href="https://wa.me/3512421366" class="text-white"><i class="bi bi-whatsapp fs-3 mb-2"></i></a>
                
                <h5>Escribinos por:</h5>
                <a href="https://wa.me/3512421366" class="text-white">WhatsApp</a>
            </div>
        </div>
    </div>
</footer>

{% endblock %}